.footer-bg {
  background-color: #f0f0f0;
  border-radius: 0;
}

.footer {
  margin-top: 100px;
  font-size: 1.2rem;
  padding: 10px;
  color: #2c2c2c;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.footer p {
  font-size: 2rem;
  margin: 10px;
}

.icones-footer a:hover {
  box-shadow: 3px 3px 5px #2c2c2c;
}

.icones-footer {
  margin: 10px;
  gap: 20px;
  flex-wrap: wrap;
  display: flex;
}
.icones-footer a {
  padding: 5px;
}

.icones-footer a {
  border: 1px solid #5c5c5c;
  background-color: #fc20d7;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.footer .nic {
  color: #fc20d7;
}
