.galeria {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.galeria > span {
  border: 1px solid #5c5c5c;
  padding: 5px;
  background-color: #ffff00;
}
.galeria img {
  border: 1px solid #5c5c5c;
  background-color: #ffff00;
  object-fit: cover;
  width: 355px;
  height: 355px;
  transition: 0.2s;
}
