header {
  filter: blur(10%);
  opacity: 80%;
  z-index: 15;
  background-color: #fc20d7;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #5c5c5c;
  display: flex;
  padding: 5px;
}

.navbar {
  font-size: 1.7rem;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.nav-menu a {
  text-transform: uppercase;
  padding: 5px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  border: 1px solid #5c5c5c;
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 2px;
  margin: 5px auto;
  background-color: #ffff00;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  header {
    border-bottom: 0;
    background-color: transparent;
  }

  .hamburguer {
    display: block;
  }

  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburguer.active .bar:nth-child(1) {
    transform: translatey(8px) rotate(45deg);
  }

  .hamburguer.active .bar:nth-child(3) {
    transform: translatey(-8px) rotate(-45deg);
  }

  .navbar {
    justify-content: end;
  }

  .nav-menu {
    position: fixed;
    left: 100%;
    top: 0;
    gap: 0;
    background-color: white;
    border: 1px solid #5c5c5c;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }

  .nav-menu a {
    border-bottom: 1px solid #5c5c5c;
    font-size: 5rem;
    border-bottom: 5px solid #ffff00;
    color: #5c5c5c;
  }

  .nav-menu a:hover {
    text-decoration: none;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
    overflow: hidden;
  }
}
