.main-caixa {
  border-radius: 50px;
  position: relative;
  padding: 10px;
  margin: 0 auto;
  width: 70%;
  height: 400px;
  border: 1px solid #5c5c5c;
}
#inicio {
  height: 100vh;
}

.desc {
  width: 200px;
}
.main-caixa .insta {
  width: 100%;
  text-align: center;
  justify-content: flex-end;
}
.caixa {
  margin: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  left: -60px;
  top: 110px;
}

.caixa .cat {
  font-size: 5rem;
  position: relative;
}
.caixa .cat::before {
  bottom: -5px;
  position: absolute;
  content: "";
  width: 100px;
  height: 10px;
  background-color: #ffff00;
  border: 1px solid #5c5c5c;
}
.caixa h2 {
  margin: 10px;
  font-size: 1.6rem;
}
