main {
  height: 100vh;
}
.main-caixa {
  position: relative;
  padding: 20px;
  margin: 100px auto;
  width: 60%;
  height: 450px;
  border: 1px solid #2c2c2c;
  max-width: 1080px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.main-caixa .insta {
  width: 100%;
  text-align: center;
  justify-content: flex-end;
}
.caixa {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  left: -45px;
  top: 60px;
}
.main-caixa::before {
  z-index: 10;
  position: absolute;
  border-radius: 50%;
  content: "";
  width: 100px;
  height: 100px;
  background-color: #fc20d7;
  box-shadow: 2px 2px 2px #2c2c2c;
  right: -30px;
  top: -30px;
}
.caixa h1 {
  font-size: 6rem;
  position: relative;
}
.caixa h1::before {
  bottom: -0px;
  position: absolute;
  content: "";
  width: 100px;
  height: 10px;
  background-color: yellow;
}
.caixa p {
  line-height: 5rem;
}
