@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Prompt:wght@100;200;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1,
h3,
h4,
h6 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: #5c5c5c;
  display: inline-block;
  padding: 10px;
  margin: 100px auto;
  font-size: 2rem;
}

body {
  color: #444444;
  font-size: 1.6rem;
  scroll-behavior: smooth;
  transition: 0.2s linear;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  display: block;
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffff00;
  border: 1px solid #5c5c5c;
  width: 2px;
  z-index: 10;
}
.centro {
  margin: 0 auto;
  max-width: 1200px;
}

.drop {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 20px;
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #fc20d7;
  border: 1px solid #5c5c5c;
  right: -50px;
  top: -50px;
  box-shadow: 3px 3px 3px #2c2c2c;
  transition: 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.drop img {
  width: 50px;
}
.drop:hover {
  box-shadow: 0px 0px #5c5c5c;
  transform: translate(0.3rem, 0.3rem);
}

.rede {
  width: 100%;
  height: 0px;
  text-align: center;
}
.rede .social-insta {
  margin: 20px;
  color: white;
  background-color: #fc20d7;
  border: 1px solid #5c5c5c;
  border-radius: 20px;
  display: inline-block;
  font-weight: bold;
  top: -91px;
  position: relative;
  text-transform: uppercase;
  padding: 10px;
  box-shadow: 3px 3px 3px #2c2c2c;
  transition: 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.rede .social-insta::before {
  top: 0;
  left: 50%;
  z-index: -1;
  content: "";
  position: absolute;
  width: 1px;
  height: 70px;
  background-color: #5c5c5c;
}
.rede .social-insta:hover {
  box-shadow: 0px 0px #5c5c5c;
  transform: translate(0.3rem, 0.3rem);
}

.rede .social {
  margin: 20px;
  color: white;
  background-color: #fc20d7;
  border: 1px solid #5c5c5c;
  border-radius: 20px;
  display: inline-block;
  font-weight: bold;
  top: -90px;
  position: relative;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  box-shadow: 3px 3px 3px #2c2c2c;
  transition: 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.rede .social:hover {
  box-shadow: 0px 0px #5c5c5c;
  transform: translate(0.3rem, 0.3rem);
}
